<div class="schedule">
  <div class="block-group">
    <div class="time-block block">
      <h4>8:00 - 8:45 AM</h4>
      <h3>Free Play</h3>
    </div>
    <div class="time-block block">
      <h4>8:45 - 9:00 AM</h4>
      <h3>Prepare for Breakfast</h3>
    </div>
    <div class="time-block block">
      <h4>9:00 - 9:30 AM</h4>
      <h3>Breakfast</h3>
    </div>
    <div class="time-block block">
      <h4>9:30 - 10:00 AM</h4>
      <h3>Circle Time</h3>
    </div>
    <div class="time-block block">
      <h4>10:00 - 11:00 AM</h4>
      <h3>Activities</h3>
    </div>
    <div class="time-block block">
      <h4>11:00 - 11:45 AM</h4>
      <h3>Outdoor Play</h3>
    </div>
    <div class="time-block block">
      <h4>11:45 - 12:00 PM</h4>
      <h3>Clean Up</h3>
    </div>
    <div class="time-block block">
      <h4>12:00 - 12:30 PM</h4>
      <h3>Lunch</h3>
    </div>
    <div class="time-block block">
      <h4>12:30 - 12:45 PM</h4>
      <h3>Get Ready for Nap</h3>
    </div>
    <div class="time-block block">
      <h4>12:45 - 1:00 PM</h4>
      <h3>Story Time</h3>
    </div>
    <div class="time-block block">
      <h4>1:00 - 3:00 PM</h4>
      <h3>Nap Time</h3>
    </div>
    <div class="time-block block">
      <h4>3:00 - 3:30 PM</h4>
      <h3>Snack Time</h3>
    </div>
    <div class="time-block block">
      <h4>3:30 - 4:30 PM</h4>
      <h3>Outdoor Play</h3>
    </div>
    <div class="time-block block">
      <h4>4:30 - 6:00 PM</h4>
      <h3>Activites</h3>
    </div>
  </div>
</div>
