<header class="header">

  <div class="overlay">

    <div class="container">

      <h1 class="title">
        <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/images/logo.png"/><small class="logo-text">Little Apple Daycare</small></a>
      </h1>

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          {% for page in site.pages %}
            {% if page.title and page.title != 'Home' %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h1 class="txt-center">
        Welcome to <strong>Little Apple Daycare</strong>!
      </h1>
    {% endif %}

  </div>

</header>
