<div class="container">
  <div class="blurb">
    <p>Little Apple Daycare in Saugus, Massachusetts is a bilingual Mandarin and English learning center serving children six months to six years of age.
    We run a year-round program offering full and part-time schedules. Our mission is to provide a creative and inclusive learning environment
      to further the cognitive, social, emotional, and physical development of our young learners.</p>
  </div>
</div>
<div class="info-icons block-group">
  <div class="block"><img src='{{ "/images/creative.png" | prepend: site.baseurl }}'></img><div>Creative Environment</div></div>
  <div class="block"><img src='{{ "/images/learning.png" | prepend: site.baseurl }}'></img><div>Active Learning</div></div>
  <div class="block"><img src='{{ "/images/healthy.png" | prepend: site.baseurl }}'></img><div>Healthy Snacks</div></div>
  <div class="block"><img src='{{ "/images/bilingual.png" | prepend: site.baseurl }}'></img><div>Bilingual Education</div></div>
</div>
