
//
// container
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 5px $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.logo {
  width: 50px;
  margin: 3px;
}

.logo-text {
  position: absolute;
  top: 15px;
  font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
  @include media-query($on-phone) {
    display: none;
  }
}

.info-icons {
  min-height: 300px;
  margin-top: 1em;
  background: #ed423e;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  .block {
    width: 25%;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    img {
      height: 100px;
    }
  }
}

.card {
  padding: $spacing-unit;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(#000, .2);
}

.readmore {
  @include transition(color .2s linear);

  &:hover,
  &:focus {
    color: lighten($primary-color, 10%);
    text-decoration: none;
  }
}


//
// Site header
.header {
  background: #292929 url(../images/cover.jpg) no-repeat 50% 0px;
  font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
  @include background-size(cover);
  border-bottom: 1px solid $gray-color-light;
  min-height: 60px;
  position: relative;
  @extend %clearfix;
  padding: 60px 0;
  margin-bottom: 30px;

  .overlay {
    z-index: 1;
    background: rgba(#000, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    .container {
      background: hsl(174, 100%, 29%);
      position: relative;
      min-height: 80px;
      &:after {
        background: linear-gradient(45deg, hsla(0, 0%, 0%, 0) 16px, hsl(174, 100%, 29%) 0),linear-gradient(-45deg, hsla(0, 0%, 0%, 0) 16px, hsl(174, 100%, 29%) 0);
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 18px 41px;
        z-index: -1;
        content: " ";
        display: block;
        position: absolute;
        bottom: -14px;
        left: 0px;
        width: 100%;
        height: 41px;
      }
    }
  }

  a {
    color: $white-color;
  }

  @include media-query($on-phone) {
    text-align: center;
  }

  .txt-center {
    color: $white-color;
    margin-top: 160px;
    font-weight: bold;
    font-size: 3.2rem;
    strong {
      color: $brand-color;
    }
  }
}

.home .header {
  padding: 260px 0 200px;
}

//
// site title
.title {
  font-size: 32px;
  line-height: 65px;
  letter-spacing: -1px;
  margin: 0;
  float: left;
  color: darken($white-color, 10%);
  font-family: $font-family-base;

  @include media-query($on-phone) {
    float: none;
    display: block;
    width: 100%;
  }

  & a:hover,
  & a:focus {
    color: lighten($white-color, 10%);
    text-decoration: none;
    border-color: lighten($white-color, 10%);
  }
}
//
// Home page blurb
.blurb {
  margin: 1em 10%;
  text-align: center;
  color: darken($brand-color, 20%);
  @include media-query($on-laptop) {
    margin: 1em;
  }
}

//
// navbar
.navbar {
  float: right;

  @include media-query($on-phone) {
    float: none;
    margin-top: -56px;
  }
}

//
// ul nav
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;

  li {
    padding: 20px;
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
    float: left;
    display: inline-block;
    @include transition(background .2s linear);

    &:last-child {
      padding-right: 0;
    }
    @include media-query($on-palm) {
      padding: 7px;
    }

    @include media-query($on-phone) {
      float: right;
      text-align: center;
    }
  }

  a {
    padding: 0;
    display: inline-block;
    text-decoration: none;
    color: darken($white-color, 10%);
    @include transition(color .2s linear);
  }

  li.active a,
  li:hover a,
  li:focus a {
    color: lighten($primary-color, 10%);
    text-decoration: none;
  }
}

//
// menu icon
.menu-icon {
  display: none;
}

//
// post
.post {
  .post-content {
    position:relative;
    min-height: 500px;
    p {
      width: 50%;
      @include media-query($on-palm) {
        width: 100%;
      }
    }
  }
  .post-header {
    h1 {
      margin-bottom: 10px;
      // text-transform: uppercase;
      line-height: 1.3em;
      font-size: 1.8rem;
    }

    a {
      color: $text-color;
      @include transition(color .2s linear);

      &:hover,
      &:focus {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  .post-meta {
    font-size: 14px;
    margin-top: 0;
    font-weight: 300;
    font-family: $font-family-serif;
    margin-bottom: 1rem;
    font-style: italic;
    color: #9a9a9a;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  address {
    margin: 1em;
  }

  .contact-map {
    position: absolute;
    top: 0;
    right: 1em;
    width: 48%;
    @include media-query($on-laptop) {
      width: 100%;
      position: relative;
    }
  }
}

.single {
  .post-header {
    margin-bottom: $spacing-unit;
  }
}

.share {
  @extend %clearfix;
  text-align: right;

  span, a {
    font-size: 1em;
    color: #999;
  }
}

.post-list {
  .post {
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid $gray-color-light;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    .post-content {
      margin-top: .8em;
      font-family: $font-family-serif;
    }
  }
}

// Social
//
.social-icons {
  @extend %clearfix;
  margin-bottom: 15px;

  li:first-child {
    margin-right: 5px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    margin-right: 0;

    a {
      font-size: 30px;
      margin: 0;
      color: #9D9D9D;
      font-weight: 400;
      text-shadow: none;
      -webkit-transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      -o-transition: all .5s ease-in;
      transition: all .5s ease-in;
      padding-right: 0;
    }
  }

  i {
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding: 7px;
    background: #DADADA;
    text-align: center;
    color: #494949;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
  }

  a:hover i.fa-facebook {
    background-color: #3A5897;
    color: #fff;
  }
  a:hover i.fa-twitter {
    background-color: #00ABEC;
    color: #fff;
  }
}

// Pagination
//
.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 0 20px;
  padding-left: 0;
  position: relative;

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .page-number {
    color: #999;
    font-size: .8em;
  }
  .page-number, a {
    height: 38px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 0 5px;

    a {
      width: 38px;
      position: relative;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 2px;
      margin: 0;
      color: #636363;
      font-size: 1.4em;
      text-decoration: none;
      cursor: pointer;
      background: #fff;

      &:hover {
        background: $primary-color;
        border: none;
        color: #fff;
      }
    }

  }
}

//
// footer
.footer {
  border-top: 1px solid $gray-color-light;
  background-color: $background-color;
  font-family: $font-family-serif;
  margin-top: 30px;
  padding: 30px 0;

  small {
    color: darken($gray-color-light, 25%);
    font-size: 12px;
  }
}

//
// Curriculum grid
.schedule {
  margin: 2em 1em;
  .time-block {
    width: 25%;
    height: 150px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    border: 1em solid white;
    border-radius: 19px;
    &:nth-child(5n + 1) {
      background-color: darken(#ff5b75, 5%) !important;
    }
    &:nth-child(5n + 2) {
      background-color: darken(#ff9362, 5%);
    }
    &:nth-child(5n + 3) {
      background-color: darken(#00e3f1, 5%);
    }
    &:nth-child(5n + 4) {
      background-color: darken(#00babf, 5%);
    }
    &:nth-child(5n + 5) {
      background-color: darken(	#eca6ff, 10%);
    }
    h3 {
      font-size: 180%;
      font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
    }

    @include media-query(900px) {
      width: 33%;
    }
    @include media-query($on-laptop) {
      width: 50%;
    }
    @include media-query(500px) {
      width: 100%;
    }
  }
}
